$accent-blue: #1f5082;

$light-bg-blue: #ecf3fa;
$hover-bg-blue: #c9d2dd;
$med-blue-gray: #394352;
$dark-blue-gray: #28313e;
$gray: #6e777d;

$input-green: #f1f3f2;
$confirm-green: #6dab32;
$dark-green: rgb(50, 134, 54);
$danger-red: #d82f47;

$breakpoint-tablet: 904px;

$font-primary: "Open Sans", sans-serif;
