@use "../../../abstracts/variables" as *;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.allocation {
  animation-name: fadeIn;
  animation-duration: 0.25s;
  background-color: white;
  border: 2px solid $dark-blue-gray;
  border-radius: 6px;
  margin: 0.5rem;
}

.allocation__heading {
  color: white;
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  background-color: $dark-blue-gray;
}

@media screen and (max-width: 600px) {
  .allocation__heading {
    font-size: 1rem;
  }
}
