@use "../../../abstracts/variables" as *;

.remainder-msg {
  margin-left: 0.5rem;
}

.asset-card {
  list-style: none;
  padding: 0.5rem 1rem;
  // margin: 0.5rem 0;
  display: grid;
  grid-template-areas:
    "ticker exchange price__label allocation__label none shares__label"
    "instrument instrument price__price allocation__slider allocation__percent shares__shares";
  grid-template-columns: auto auto 80px 135px 50px min-content;
}

.asset-card:hover {
  background-color: $light-bg-blue;
}

.asset-card__ticker {
  grid-area: ticker;
  color: $dark-blue-gray;
}

.asset-card__exchange {
  grid-area: exchange;
}

.asset-card__instrument {
  grid-area: instrument;
}

.price__label {
  grid-area: price__label;
}

.price__price {
  grid-area: price__price;
}

.allocation__label {
  grid-area: allocation__label;
}

.allocation__percent {
  grid-area: allocation__percent;
}

.allocation__slider {
  grid-area: allocation__slider;
  accent-color: $confirm-green;
  width: 120px;
}

.shares__label {
  grid-area: shares__label;
  justify-self: center;
}
.shares__shares {
  grid-area: shares__shares;
  justify-self: center;
}
