@use "../../../abstracts/variables" as *;

.remainder-msg {
  margin-left: 0.5rem;
}

.remainder-msg__percent {
  display: inline-block;
  text-align: center;
  width: 42px;
}

.asset-list {
  padding-inline-start: 0;
  margin-bottom: 0.5rem;

  > :nth-child(odd) {
    background-color: $light-bg-blue;
  }

  li:hover {
    background-color: $hover-bg-blue;
  }
}
