@use "../../../abstracts/variables" as *;

.remainder-msg {
  margin-left: 0.5rem;
}

.asset-card {
  list-style: none;
  padding: 0.75rem 1rem;
  display: grid;
  grid-template-areas:
    "ticker exchange price__label allocation__label . shares__label close"
    "instrument instrument price__price allocation__slider allocation__percent shares__shares ."
    "error-message error-message error-message error-message error-message error-message error-message";
  grid-template-columns: auto auto 110px 120px 45px min-content 16px;
}

.asset-card__ticker {
  grid-area: ticker;
  color: $dark-blue-gray;
  margin-right: 0.25rem;
}

.asset-card__exchange {
  grid-area: exchange;
}

.asset-card__instrument {
  grid-area: instrument;
  margin-right: 1rem;
}

.asset-card__close {
  grid-area: close;
  justify-self: end;
  position: relative;
  top: -8px;
  right: -12px;
  width: 16px;
  opacity: 0.3;
}

.asset-card__close:hover {
  opacity: 1;
  color: $danger-red;
  cursor: pointer;
}

.price__label {
  grid-area: price__label;
}

.price__price {
  grid-area: price__price;
  align-self: center;
}

.price__unavailable {
  color: $danger-red;
}

.price__error {
  margin: 0;
  grid-area: error-message;
  color: $danger-red;
}

.allocation__label {
  grid-area: allocation__label;
}

.allocation__percent {
  grid-area: allocation__percent;
  align-self: center;
}

.allocation__slider {
  grid-area: allocation__slider;
  accent-color: $confirm-green;
  width: 110px;
}

.allocation__slider:hover {
  cursor: pointer;
}

.shares__label {
  grid-area: shares__label;
  justify-self: center;
}

.shares__shares {
  grid-area: shares__shares;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 741px) and (max-width: 850px) {
  .asset-card {
    grid-template-areas:
      "ticker instrument instrument instrument exchange close"
      "price__label allocation__label . shares__label shares__shares ."
      "price__price allocation__slider allocation__percent shares__label shares__shares ."
      "error-message error-message error-message error-message error-message error-message";
    grid-template-columns: 105px 120px 1fr 0.5fr 0.5fr 16px;
  }

  .shares__label {
    align-self: center;
  }

  .price__label,
  .allocation__label,
  .shares__label {
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 740px) {
  .asset-card {
    grid-template-areas:
      "ticker instrument instrument exchange close"
      "price__label allocation__label . shares__label ."
      "price__price allocation__slider allocation__percent shares__shares ."
      "error-message error-message error-message error-message error-message";

    grid-template-columns: 105px 120px 1fr 0.5fr 16px;
  }

  .shares__label {
    align-self: center;
  }

  .price__label,
  .allocation__label,
  .shares__label {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  .asset-card {
    grid-template-areas:
      "ticker . exchange . close"
      "instrument instrument instrument instrument ."
      "price__label price__price price__price . ."
      "allocation__label allocation__label . shares__label ."
      " allocation__slider allocation__slider allocation__percent shares__shares ."
      "error-message error-message error-message error-message error-message";

    grid-template-columns: 60px 60px auto auto 0px;
  }

  .price__label,
  .price__price,
  .price__unavailable {
    justify-self: start;
    margin-top: 0.5rem;
  }
}
