@use "../../../abstracts/variables" as *;

.search-error {
  color: $danger-red;
  margin: 0.5rem 0.5rem;
  font-weight: bold;
}

.searchbar-wrapper {
  margin-inline: 0.5rem;
  display: flex;
}

.searchbar-wrapper:focus-within {
  outline: 2px solid $accent-blue;
  border-radius: 3px;
}

.input-group__adornment--search {
  padding-inline: 0.2rem;
  display: inline-flex;
  align-items: center;
  border: solid 1px $gray;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
  font-size: 1rem;
}

.searchbar {
  box-sizing: border-box;
  height: 24.19px;
  flex-grow: 1;
  font-size: 0.83rem;
  border-style: none;
  border: 1px $gray solid;
  border-right: none;
  padding: 1px 2px 1px 0.4rem;
}

.searchbar:focus-visible {
  outline: none;
}

.search-loader {
  display: inline-flex;
  border: 1px $gray solid;
  align-items: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  padding-right: 0.3rem;
}

.search-loader > * {
  opacity: 0.75;
}

.results-wrapper {
  position: relative;
  margin-inline: 0.5rem;
}

.results-list {
  position: absolute;
  box-sizing: border-box;
  max-height: 236px;
  width: 100%;
  margin-top: 0.3rem;
  padding: 2px 2px;
  background-color: white;
  border: solid 1px $gray;
  border-radius: 4px;

  list-style-type: none;
  padding-inline-start: 2px;
  overflow-y: auto;
}

.results-list__result {
  display: flex;
  text-overflow: clip;
  overflow: hidden;
  padding-left: 0.3rem;
  cursor: pointer;
}

.results-list__result:not(:last-child) {
  padding-bottom: 0.25rem;
}

.results-list__result:not(:first-child) {
  padding-top: 0.25rem;
}

.results-list__result:hover {
  background-color: $hover-bg-blue;
}

.results-list__result:focus-visible {
  outline: $accent-blue solid 2px;
  border-radius: 2px;
}

.result__symbol {
  color: $dark-blue-gray;
  margin-right: 1rem;
  width: 12ch;
}

@media screen and (max-width: 741px) {
  .result__symbol {
    width: 6ch;
  }
}

.result__instrument {
  max-width: 34ch;
  margin-right: 1rem;
}

.result__exchange {
  margin: 0;
  margin-left: auto;
  margin-right: 0.3rem;
}

.result__symbol,
.result__exchange {
  flex-shrink: 0;
}

.result__symbol,
.result__instrument {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
