@use "../../abstracts/variables" as *;

.contribution {
  background-color: white;
  border: 2px solid $dark-blue-gray;
  border-radius: 6px;
  margin: 0.5rem;
}

.contribution__heading {
  color: white;
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
  background-color: $dark-blue-gray;
}

.button-group {
  margin-bottom: 1rem;
}

.button-group > button:hover {
  background-color: $hover-bg-blue;
  cursor: pointer;
}

@mixin button($color, $bgcolor, $padding-top: 0.1rem) {
  font-family: $font-primary;
  font-size: 0.83rem;
  color: $color;
  background-color: $bgcolor;
  font-weight: 700;
  padding: $padding-top 0.5rem;
}

.button {
  &--middle {
    @include button($accent-blue, $light-bg-blue);
    border: solid 1.5px $accent-blue;
  }

  &--left {
    @include button($accent-blue, $light-bg-blue);
    border: solid 1.5px $accent-blue;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
    margin-left: 0.5rem;
  }

  &--right {
    @include button($accent-blue, $light-bg-blue);
    border: solid 1.5px $accent-blue;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
  }
}

.button--allocate {
  @include button(white, $confirm-green, 3.1px);
  border: none;
  border-radius: 3px;
  margin-left: auto;
}

.button--allocate:hover {
  background-color: $dark-green;
  cursor: pointer;
}

.input-group {
  display: flex;
  align-items: stretch;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.input-group__adornment {
  text-align: center;
  padding: 0.1rem 0.3rem;
  border: solid 1px $gray;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
  font-size: 0.83rem;
}

.input-group__input {
  height: 20.187px;
  // width: auto;
  font-size: 0.83rem;
  padding-left: 0.3rem;
  border-style: none; //unset browser default
  border: 1px $gray solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 126px;
  // max-width: 400px;
}
