@use "../../abstracts/variables" as *;

.contribution {
  background-color: white;
  border: 2px solid $dark-blue-gray;
  border-radius: 6px;
  margin: 0.5rem;
}

.contribution__heading {
  color: white;
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  background-color: $dark-blue-gray;
}

.button {
  color: $accent-blue;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border: solid 1.5px $accent-blue;
  margin-bottom: 2rem;
}

.button:hover {
  background-color: $light-bg-blue;
  cursor: pointer;
}

.button--left {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
  margin-left: 0.5rem;
}

.button--right {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
}

.input__adornment {
  display: inline;
  border: solid 1px $gray;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
