@use "../../abstracts/variables" as *;

.contribution {
  background-color: white;
  border: 2px solid $dark-blue-gray;
  border-radius: 6px;
  margin: 0.85rem 0.5rem 0.5rem 0.5rem;
}

.contribution__heading {
  color: white;
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
  background-color: $dark-blue-gray;
}

@media screen and (max-width: 600px) {
  .contribution__heading {
    font-size: 0.9rem;
  }
}

.button-group {
  margin-bottom: 1rem;
}

@mixin button($color, $bgcolor, $hovercolor, $padding-top: 0.1rem) {
  font-family: $font-primary;
  font-size: 0.83rem;
  color: $color;
  background-color: $bgcolor;
  font-weight: 700;
  padding: $padding-top 0.5rem;
  &:hover {
    background-color: $hovercolor;
    cursor: pointer;
  }
}

.button {
  &--middle {
    @include button($accent-blue, $light-bg-blue, $hover-bg-blue);
    border: solid 1.5px $accent-blue;
  }

  &--left {
    @include button($accent-blue, $light-bg-blue, $hover-bg-blue);
    border: solid 1.5px $accent-blue;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
    margin-left: 0.5rem;
  }

  &--right {
    @include button($accent-blue, $light-bg-blue, $hover-bg-blue);
    border: solid 1.5px $accent-blue;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
  }

  &--allocate {
    @include button(white, $confirm-green, $dark-green, 3.1px);
    border: none;
    border-radius: 3px;
    margin-left: auto;
  }
}

.input-group {
  display: flex;
  align-items: stretch;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.input-group__adornment {
  border: solid 1px $gray;
  padding-inline: 0.3rem;
  padding-top: 0.1rem;

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
  font-size: 0.83rem;
}

.input-group__input {
  font-size: 0.83rem;
  padding-left: 0.3rem;
  border-style: none; //unset browser default
  border: 1px $gray solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 126px;
}
