@use "../abstracts/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

main {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  background-color: white;
  font-family: $font-primary;
  width: clamp(300px, 60%, 600px);
  margin-inline: auto;
  height: 100vh;
  // border: solid 3px red;
  // border-radius: 6px;
}

body {
  background-color: $med-blue-gray;
  margin: 0;
}
