@use "../abstracts/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
  font-family: $font-primary;
  width: clamp(300px, 60%, 650px);
  margin-inline: auto;
}

#root {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: $med-blue-gray;
  margin: 0;
}

.finage-ticker-tape-item {
  animation-name: slideInDown;
  animation-duration: 2s;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
