@use "../abstracts/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

main {
  display: flex;
  flex-direction: column;
  background-color: $med-blue-gray;
  font-family: $font-primary;
}

@media screen and (min-width: $breakpoint-tablet) {
  main {
    flex-direction: row;
  }
}
